
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
}

.video-preview{

}

.thumbail{
  width: 100%;
  cursor: pointer;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture{
  
}

.profile-picture{
  border-radius: 50px;
  width: 90%;
}

.video-info{
  width: 300px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.video-title{
  margin-top: 0;
  padding-left : 3px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 18px;
}

.video-author , .video-stats{
  font-size: 12px;
  padding-left  : 3px;
  margin: 0;
}