.content{
  display: flex;
  justify-content: space-between;
}

.side-bar{
  width: 250px;
  height: 700px;
  background-color: aqua;

  display: flex;
  flex-direction: column;
}

.nav-product{
  background-color: blue;
  border: 1px solid black;

  width: 1200px;

  margin-right: 35px;

  display: flex;
}

.product-item{
  width: 33,3333333333%;
  height: 350px;

  border: 1px solid black;
}



