.header{
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap : 10em;
  padding: 1.2rem 0;

  border: none;
  border-bottom: 1px solid gray;
}
.name-shop{
  cursor: pointer;
}

.left-header{
  font-size: 22px;
  font-weight: bolder;
  margin-left: 20px;
}


.nav-link{
  display: flex;
  gap : 2.5em;
}

.nav-link ul{
  margin-block-end: 0;
}

.link-nav {
  transition: all 0.3s;
}

.link-card{
  transition: all 0.5s;
}

.link-nav:hover{
  color: rgb(252, 105, 0);
  font-size: 18.5px;
  font-weight: bold;
}
.link-card:hover{
  color: rgb(250, 47, 47);
  font-size: 19px;
  font-weight: bold;
}

.home:hover .dropdown{
  display: block;
}

.clothe:hover .dropdown{
  display: block;
}

.page:hover .dropdown{
  display: block;
}

.blog:hover .dropdown{
  display: block;
}


.dropdown{
  background-color: rgb(255, 255, 255);

  display: none;

  position: absolute;
  top: 30px;
  left : auto;

  width: 100px;

  border: 1px solid gray;
}

.dropdown ul li{
  line-height: 25px;
  text-align: left;
}


.right-header{
  display: flex;
  align-items: center;
}


.icon-header{
  padding: 15px;
  width: auto;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: 50%;
}

.icon-header:hover{
  background-size: 25px;
}

.search{
  background-image: url("../img/icon-header/search.svg");
}

.search:hover{
  background-image:url("../img/icon-header/search-hover.svg");
}

.heart{
  background-image: url("../img/icon-header/heart.svg");
}

.heart:hover{
  background-image:url("../img/icon-header/heart-hover.svg");
}

.cart{
  background-image: url("../img/icon-header/cart.svg");
}

.cart:hover{
  background-image:url("../img/icon-header/cart-hover.svg");
}

.person{
  background-image: url("../img/icon-header/person.svg");
}

.person:hover{
  background-image:url("../img/icon-header/person-hover.svg");
}







