body{
  height: 1000px;
}

.pageaccount .container{
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.pageaccount .sbar{
  width: 150px;
  height: 80px;
}

.pageaccount .sbar .active{
  background-color: gainsboro;
}


.pageaccount .ibar{
  border-bottom: 1px solid black;
  cursor: pointer;
}

.pageaccount .ibar:active{
  background-color: gainsboro;
}

.pageaccount .detailbar{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.pageaccount .detailbar .personal-name{
  display: flex;
  gap: 15px;
  width: 100%;
}

.pageaccount .detailbar .title{
  width: 100%;
}

.pageaccount .detailbar .in{
  border: 1px solid gray;
  width: 100%;
  padding: 5px;
}

.pageaccount .detailbar .personal-phone-dob{
  display: flex;
  gap: 15px;
  width: 100%;
}

.pageaccount .detailbar .personal-save {
  width: 150px;
  text-align: center;
}

.pageaccount .detailbar .personal-save .btn-save {
  padding: 8px;
  transition: all 0.3s;
}

.pageaccount .detailbar .personal-save .btn-save:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.pageaccount .detailbar .personal-save .btn-save:active{
  background-color: white;
  color: black;
  cursor: pointer;
}