.select-page{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.to-page-women{
    background-image: url(../img/picture-to-page/women.jpg);
    
}

.to-page-men{
  background-image: url(../img/picture-to-page/men.jpg)
}

.to-page-kid{
  background-image: url(../img/picture-to-page/kid.jpg)
}

.name-page{
  margin-top: 215px;
  font-size: 65px;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 5px 5px black ;
}

.to-page{
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    
    width: 33.3333333333333%;
    height: 470px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-page{
  background-color: aliceblue;
  margin-top: 50px;
  border: 1px solid black;
  padding: 8px;

  font-family: 'Roboto', sans-serif;
  font-weight:530;
}

.btn-show-page{
  margin-left: 5px;
  width: 24px;
  vertical-align: -0.3em;
}

.btn:hover {
  margin-left: 10px;
}





