
.top-month-sellers * {
    box-sizing: border-box;
}

.top-month-sellers *:not(img,.card-image) {
    border-radius: 6px;
}
.top-month-sellers img{
    width: 100%;
    height: 100%;
}
.top-month-sellers, .top-month-sellers .container, #top-items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-month-sellers .container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.top-month-sellers .container .title-nav {
    padding: 20px;
}
.top-month-sellers .container .title-nav .nav {
    justify-content: center;
}
.top-month-sellers .container .title-nav h2 {
    font-size: 36px;
}
.top-month-sellers .container .title-nav .nav .nav-item {
    text-decoration: none;
    color: #121212;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
}

.top-month-sellers .container .title-nav .nav .nav-item:hover {
    color: #ff6060;
}

.top-month-sellers .container .title-nav .nav .active-item {
    color: #ff6060;
    border-bottom: #ff6060 solid;
    border-radius: 0;
}

#top-items {
    height: min-content;
    width: 100%;
    flex-direction: row !important;    
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 50px;

}

#top-items .card {
    padding: 0;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: none !important;
}
#top-items .card .card-image {
    position: relative;
    padding: 0;
    height: 75%;
}

#top-items .card .card-image .badge {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 10;
}

#top-items .card .card-image .badge > span {
    padding: 6px;
    font-size: small;
    font-weight: bold;
}

#top-items .card .card-image .badge .new-badge {
    background-color: white;
    color: black;
}

#top-items .card .card-image .badge .sale-badge {
    background-color: black;
    color: white;
}

#top-items .card .card-image a:hover{
    cursor: default;
}

#top-items .card .card-image .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 33%;
    opacity: 0;
    background-color: transparent;
    gap: 6px;
    padding: 8px;
    transition: all .3s;
    z-index: 10;
}

#top-items .card .card-image .action .action-bt {
    position: relative;
    background-color: #f0f0f0;
    font-size: medium;
    font-weight: bold;
    flex-grow: 1;
    color: #121212;
    border-radius: 2em;
    border: #333 solid 0.01rem;
    width: 50%;
    transition: all .3s;
}

#top-items .card .card-image .action .action-bt img {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .15s,transform .25s;
    scale: 80%;
    z-index: 5;
}

#top-items .card .card-image .action .action-bt:hover img {
    z-index: 5;
    opacity: 1;
    transform: translateY(-38%);
}

#top-items .card .card-image .action .action-bt:hover {
    background-color: #121212;
    color: #121212;
    cursor: pointer;
    z-index: 5;
}

#top-items .card:hover .card-image .action {
    transform: translateY(-10px);
    opacity: 1;
}

#top-items .card .card-info {
    background-color: #fdfdfd;
    flex-grow: 1;
}

#top-items .card .card-info * {
    text-decoration: none;
}

#top-items .card .card-info .categories-label {
    color: #404040;
    font-size: 0.8rem;
}
#top-items .card .card-info .product-name-label {
    font-weight: 600;
    color: #000
}

#top-items .card .card-info .product-name:hover .product-name-label {
    color: #ff6060;
}

#top-items .card .card-info .price-label {
    font-size: large;
    color: #000;
}

#top-items .card .card-info .price:has(.sale-price-label) .price-label {
    text-decoration: line-through;
    color: #333;
    font-size: medium;
}

#top-items .card .card-info .sale-price-label {
    font-size: large;
    font-weight: bold;
    color: #ff6060;
}

.top-month-sellers .container .more-items {
    padding: 10px;
}
.top-month-sellers .container .more-items a {
    text-decoration: none;
    color: #121212;
    border-bottom: #121212 solid 2px;
    font-weight: 600;
    border-radius: 0;
}
.top-month-sellers .container .more-items a:hover {
    border: none;
}
